[Desktop Entry]
Name=DeepinExp-light
X-KDE-PluginInfo-Author=SkyShadowHero
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=a1233456333@163.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=DeepinExp-light
X-KDE-PluginInfo-Version=1.0
